# python == 3.11 fix
pandas
numpy
requests
beautifulsoup4
lxml

geopandas
shapely
fiona
pyproj

folium
matplotlib

scikit-learn
xgboost

streamlit
tqdm
python-dotenv

openpyxl
streamlit-folium

pymysql
jupyterlab
seaborn
dotenv